#header
  = link_to 'Logout', '/logout', method: :delete, class: 'close-session'
  #bus-view

%script#locations{ type: 'text/json' }
  #{ @assignments.to_json }

- if @assignments.object.present?
  #map-canvas
- else
  %h1{style: "text-align: center; font-size: 30px; color:#fff"} Bus is currently not active!

#map-interval{"data-map-timeout" => "#{ENV['MAP_INTERVAL']}", :style => "display:none;"}


